<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workstation.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="com.workstation.crop.CropActivity"
            android:theme="@style/AppThemeNoBar"/>
    </application>
</manifest>
