<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yz.hlife">
    <uses-sdk tools:overrideLibrary="tv.danmaku.ijk.media.player_arm64, tv.danmaku.ijk.media.player_x86_64"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".MwClientApplication"
        android:theme="@style/Theme.AppCompat.Slider">
        <!-- 地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ab887fbd22354b21ed5581fb8d859bb6"/>
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            tools:replace="android:value"
            android:name="com.huawei.hms.client.appid"
            android:value="" />

        <meta-data tools:replace="android:value"
            android:name="com.vivo.push.api_key"
            android:value="" />
        <meta-data tools:replace="android:value"
            android:name="com.vivo.push.app_id"
            android:value="" />

        <activity android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.RegisterActivity"/>

        <activity android:name=".activity.DataTestActivity"/>
        <activity android:name=".activity.ChatDemoActivity"/>
        <activity android:name=".activity.GroupListDemoActivity"/>
    </application>

</manifest>