<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hlife.qcloud.tim.uikit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:requestLegacyExternalStorage="true">
<!--        该Service仅在TBS内核首次Dex加载时触发并执行dex2oat任务，任务完成后自动结束。-->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" >
        </service>
        <activity
            android:name="com.hlife.qcloud.tim.uikit.component.video.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity
            android:name="com.hlife.qcloud.tim.uikit.component.video.VideoViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity
            android:name="com.hlife.qcloud.tim.uikit.component.photoview.PhotoViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity
            android:name="com.hlife.qcloud.tim.uikit.modules.group.info.GroupInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity
            android:name="com.hlife.qcloud.tim.uikit.component.SelectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity
            android:name="com.hlife.qcloud.tim.uikit.modules.group.apply.GroupApplyManagerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:theme="@style/Theme.AppCompat.Slider" />
        <activity
            android:name="com.hlife.qcloud.tim.uikit.modules.group.apply.GroupApplyMemberActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:theme="@style/Theme.AppCompat.Slider" />

        <activity
            android:name="com.hlife.liteav.SelectContactActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity
            android:name="com.hlife.liteav.trtcaudiocall.ui.TRTCAudioCallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name="com.hlife.liteav.trtcvideocall.ui.TRTCVideoCallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name="com.hlife.liteav.trtcvideocall.ui.TRTCVideoCallSingleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar" />
        <!--    业务逻辑    -->
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.MwWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity
            android:name="com.hlife.qcloud.tim.uikit.business.active.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/Theme.AppCompat.Slider">
            <!-- 华为离线推送打开应用内页面 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="com.tencent.qcloud"
                    android:path="/detail"
                    android:scheme="pushscheme" />
            </intent-filter>

            <!-- OPPO离线推送的intent action方式必须配置category且不能有data数据 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- OPPO离线推送的scheme url方式必须配置action和category -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="pushscheme"
                    android:host="com.tencent.qcloud"/>
            </intent-filter>
        </activity>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.AddMoreActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.BlackListActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.FriendProfileActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.NewFriendActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.GroupListActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.StartC2CChatActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.StartGroupChatActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.UserInfoActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.UserSettingActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.UpdatePwdActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.SearchAddMoreActivity"
            android:windowSoftInputMode="stateVisible"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.UpdatePhoneActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.modules.group.member.GroupMemberRemindActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.WebActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.X5FileOpenActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.modules.group.info.StartGroupMemberSelectActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.AboutYzActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.ListStopMapActivity"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.MapLocationActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.SelectMessageActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.UserQRCodeActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.ScanIMQRCodeActivity"
            android:theme="@style/AppThemeNoBar"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.SystemContactActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <activity android:name="com.hlife.qcloud.tim.uikit.business.active.CityAddressActivity"
            android:theme="@style/Theme.AppCompat.Slider"/>
        <provider
            android:name="com.hlife.qcloud.tim.uikit.utils.TUIKitFileProvider"
            android:authorities="${applicationId}.uikit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public"/>
        </provider>

    </application>

</manifest>
